.git
.github
.agents
.pytest_cache
**/__pycache__
**/*.py[cod]
**/.coverage
**/.env
**/.env.*
!**/.env.example
**/.expo
**/.venv
**/node_modules
**/.ruff_cache
**/*.tsbuildinfo
backend/tests
cloudrun/secrets.env
gha-creds-*.json
mobile
README.md
